header{
  color: White;
  text-align: center;
}
.photo{
    width:200px;
    height:200px;
    background-color:orange;
    border-radius:50%;
    text-align:center;
    line-height:150px;
    font-size:100px;
    margin:auto;
}
.card{
    box-shadow: 5px 5px 10px gray;
    width: 320px;
    margin: 20px auto;
    padding: 20px;
    background-color: yellow;
    border-radius: 15px;
}
body{
  background-color: blue;
  border: 2px dotted  pink;
  margin: 20px;
  padding: 15px;
  border-radius: 4px;
}
p{
    color: blue;
    font-size: 18px;
}

