body {
background:linear-gradient(to right , #ea0f0f , #67beda);
text-align: center;

}
.photo{
  height: 200px;
  width: 200px;
  background-color:#9c9c9c;
  background-size: 100%;
  line-height: 150px;
  border-radius: 100px;
  font-size: 100px;
  margin: auto;
}
.card{
  box-shadow: 5px 2px 5px 2px black;
  width: 320px;
  border: 2px solid black;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to right , #f3db20, #45d856);
  
}
header{
  color: white;
}

button{
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  background:linear-gradient(to right ,#d32ad0 ,#6393ed);
  color: aqua;
  cursor: pointer;
}
button:hover{
  background:linear-gradient(to right ,#ff0000, #ffe80ef1);
                              }
