body{
  padding: 20px;
 background: linear-gradient(to right, #f1df07 ,#2bd845);
}
h1{
  color: red;
  font-family: Arial, Sans-Serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}
h1:hover{
  color: #cf0fb0;
}
button{
  background-color: pink;
  display: block;
  margin: 20px auto;
} 
p{
  color: white;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  color: blue;
}

button:hover{
  background-color: yellow;
}
