body{
  background: linear-gradient(to right,  #69f070 ,#3098db);
}


header{
  position: relative;
  text-align: center;
  color: white;
  top: 250px;
   -webkit-text-stroke: 1px #fe1a1a;
}

button{
  position: relative;
  left: 130px;
  color: red;
  top: 300px;
  background-color:#fcdc2d ;
  border: 1px solid #46c6e4;
  border-radius: 10px;
  font-family: Arial;
  font-size: 30px;
  cursor: pointer;
}
#result{
  position: relative;
    font-size: 25px;
    font-weight: bold;
    color: blue;
     -webkit-text-stroke: 1px #fe1a1a;
     top: 250px;
     left: 150px;
}
