body{
  background: linear-gradient(to right,#06f2e1,#6650d1 );
}

header{
  color: white;
  text-align: center;
  background-color: blue;
}

h2{
  color: red;
}

.function{
  color:#ed0d90;
  font-weight: bold;
}
button{
  position: relative;
  background: linear-gradient(to right,#f458b3,#b8f058 );
  font-size: 25px;
  border: 1px solid ;
  border-radius: 8px;
  left: 200px;
  top: 50px;
  cursor: pointer;
}

p{
color: #f0eeee;  
font-size: 20px;
font-weight: bold;
}
